<section class="primerContenedor">
    <article class="segundoContenedor">
      <header><h1>Pasos para Formular los Ingredientes en la aplicacion</h1></header>
      <nav>
        <button (click)="onAnterior()">Anterior</button><span class="paginas">{{ pagina }} de 6</span>
        <button (click)="onSiguiente()">Siguiente</button>
      </nav>
      <section ngSwitch="{{ pagina }}" class="tercerContenedor">
        <img
            src="{{imgURL}}"
            class="imagen{{ pagina }}"
            alt="Paso {{pagina}}"
            title="Paso {{pagina}}"
          />
        <div *ngSwitchCase="1">        
          <p>
            Para formular los ingredientes se requiere conocer que ingredientes se
            usaran y cual es el perfil nutricional esperado.<br />
            <br />
            Una vez se tenga lo anterior mensionado se procede a ubicar la
            aplicacion del lado izquierdo de la pantalla.
          </p>
        </div>
  
        <div *ngSwitchCase="2">
          <p>Seguido seleccionamos en "Formular Ingredientes".</p>
        </div>
  
        <div *ngSwitchCase="3">
          <p>
            Ubicados en la pestaña formular, seleccionamos los ingredientes que se
            usaran en la elaboracion del alimento, minimo (2) estos, se pueden buscar manualmente mediante la lista de los mismos 
            o pueden ser buscados usando el Filtro.
            <br /><br />
            Para usar el Filtro, se selecciona la opci&oacute;n de busqueda que puede ser el Nombre o alguna propiedad listada. 
            Si, se busca por nombre, simplemente se coloca el nombre y se pulsa "Enter" y el filtro buscara todos aquellos ingredientes 
            que contenga el valor introducido. En caso de ser por alguna propiedad, el filtro buscara aquellos ingredientes 
            donde el valor introducido sea mayor o igual al del ingrediente.
            <br /><br />
            Notese que el ingrediente introducido puede ser eliminado de la seleccion y, adicionalmente, 
            puede visualizar sus propiedades al pasar el mouse o pulsar sobre ellos.
            <br /><br />
            Luego de la seleccion, se da click en Siguiente.
            <br /><br />
            Para borrar la lista introducida, se pulsa el boton restaurar.
          </p>
          <p>
            Nota: en la lista de ingredientes no se especifican ciertos microingredientes como medicinas, vitaminas y minerales. 
            Sin embargo, por su efecto en la formulacion del alimento, estos se agregan de la lista mediante sus nombres:
            minerales 99Cz, minerales 97Cz, minerales 95Cz, minerales 92Cz minerales 90Cz, minerales 85Cz, minerales 80Cz, 
            minerales 70Cz y vitaminas, donde, el valor numerico de los minerales, representa su porcentaje de cenizas del mismo. 
            La seleccion de estos microingredientes no se recomienda para Formular Ingredientes.
          </p>
        </div>
        
        <div *ngSwitchCase="4">
          <p>
            Seguidamente se introducen los datos del perfil esperado. Adicionalmente, se introduce el valor maximo
            permitido para la correspondiente propiedad, el cual, no puede ser menor al valor esperado. El calculo buscara
            aproximarse al valor esperado siempre que sea posible.
            <br /><br />
            Luego, se da click en Siguiente.
          </p>
        </div>
        
        <div *ngSwitchCase="5">
          <p>
            Puede ocurrir que el calculo no conduzca a un resultado que cumpla o se aproxime a las especificaciones dadas, mostrando un error.
          </p> 
          <p>
            Esto se debe a la naturaleza de los ingredientes usados, es decir, no es posible expresar un resultado 
            cuando la mezcla de los ingredientes no se puede aproximar a lo especificado. Por Ejemplo, la mezcla de ingredientes 
            usados en las imagenes tienen un porcentaje de Humedad mayor a 10%, a excepci&oacute;n del ingrediente Grasa 99EE, por lo que producir 
            un resultado inferior a 10 requeriria un uso elevado del ingrediente Grasa 99EE. Pero, este tiene un porcentaje de 
            extracto et&eacute;reo (EE) de 99% lo que por consecuencia produciria un %EE elevado y mayor al 7.8% expresado en la imagen. Por lo tanto 
            bajo esas condiciones, no es posible expresar un resultado.
          </p>
          <p>
            En este caso se recomienda:
          </p>
            <ul>
              <li>Modificar los valores esperados, valores maximos o ambos.</li>
              <li>Modificar la seleccion de los ingredientes (ultima instancia).</li>
            </ul>
            <p>
              En caso de no producir un resultado realizando los cambios sugeridos, se recomienda introducir valores elevados en las celdas 
              de valor maximo con el fin de observar la tendencia del perfil con los ingredientes seleccionados.
            </p>            
            <p>Para cualquier inconveniente puede ir a la seccion de Contacto y comunicarse.</p>
        </div>

        <div *ngSwitchCase="6">
          <p>
            Una vez realizado el calculo, se podra observar el resultado:
          </p>
          <ul>
            <li>Lado izquierdo, se visualiza la cantidad masica de los ingredientes seleccionados.</li>
            <li>Lado derecho, se visualiza el perfil nutritivo del alimento y el valor esperado intruducido.</li>
          </ul>
          <p>Adicionalmente, si se desea modificar el resultado calculado, se puede presionar el boton "Formular Alimento" 
            en la parte inferior del lado derecho</p>
        </div>
      </section>
    </article>
  </section>
  