<section class="flexCol contenedor">
  <header class="titulo-1"><h1>Formular Alimentos</h1></header>
  <h2 class="titulo-2">Seleccion de Ingredientes</h2>
  <nav class="flexRow filtro">
    <p>Filtro:</p>
    <select #select (change)="onFiltro(select.value, inputText, inputNumber)">
      <option value="1" selected>Nombre</option>
      <option value="2">H</option>
      <option value="3">PB</option>
      <option value="4">EE</option>
      <option value="5">FB</option>
      <option value="6">Cz</option>
    </select>
    <input
      type="text"
      #inputText
      class="filtro_nombre"
      placeholder="Buscar por Nombre..."
      (keyup.Enter)="buscarFiltroNombre(inputText)"
    />
    <input
      type="number"
      hidden
      #inputNumber
      class="filtro_prop"
      placeholder="Buscar por Valor de... mayor u igual a..."
      (keyup.Enter)="buscarFiltroPropiedad(select.value, inputNumber.value)"
    />
  </nav>
  <article class="flexRow materiasPrimas">
    <div class="mp">
      <div *ngIf="!stopLoader" class="spinerLoader"></div>
      <div *ngIf="stopLoader" class="mp_lista flexCol">
        <a
          *ngFor="let mp of materiasPrimas"
          class="mp_boton"
          (click)="onClick(mp)"
          >{{ mp.Nombre }}</a
        >
      </div>
    </div>
    <div class="mp_seleccionada flexCol">
      <div *ngFor="let mpSeleccion of seleccionMP" class="flexRow mp_s">
        <label class="tooltip"
          >{{ mpSeleccion.Nombre }}
          <span class="tooltip_item">
            H: {{ mpSeleccion.Humedad }}, PB: {{ mpSeleccion.Proteina }}, EE:
            {{ mpSeleccion.Grasa }}, FB: {{ mpSeleccion.Fibra }}, Cz:
            {{ mpSeleccion.Cenizas }}
          </span></label
        >
        <input
          id="{{ mpSeleccion.Nombre }}"
          type="checkbox"
          class="deleteSeleccion"
          (change)="deleteSeleccion(mpSeleccion)"
          hidden
        />
        <button class="mp_eliminar" (click)="deleteSeleccion(mpSeleccion)">
          Eliminar
        </button>
      </div>
    </div>
  </article>
  <nav class="navegacion flexRow">
    <button class="btnRestore" (click)="onReset()">Restaurar</button>
    <div class="espaciador"></div>
    <button class="btnNext" (click)="onSiguiente()">Siguiente</button>
  </nav>
  <p class="Notacion">
    Notacion: H: Humedad, PB: Proteina bruta, EE: Extracto et&eacute;reo, FB:
    Fibra bruta, Cz: Cenizas
  </p>
</section>
