<section class="contenedor-1">
  <header class="titulo"><h1>Informacion de contacto</h1></header>  
  <section class="flexFilas contenedor-2">
    <form
      class="mensajeUsuario"
      #formMensaje="ngForm"
      (ngSubmit)="sendMensaje(formMensaje,submitButton)"
    >   
      <div class="registro__usuario">
        <label for="nombre" title="Tres (3) o mas caracteres, solo letras"
          >Nombre</label
        >
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="formInput"
          placeholder="Requerdio"
          pattern="[A-za-z]{3,}"
          title="Tres (3) o mas caracteres, solo letras"
          #nombre="ngModel"
          minlength="3"
          [(ngModel)]="contacto.nombre"
          required
        />
      </div>
      <div class="registro__usuario">
        <label for="correo" title="example@mail.com"
          >Correo</label
        >
        <input
          type="email"
          id="correo"
          name="correo"
          class="formInput"
          placeholder="Requerido"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          title="example@mail.com"
          #email="ngModel"
          [email]="true"
          [(ngModel)]="contacto.correo"
          required
        />
      </div>
      <div class="registro__usuario">
        <label for="asunto" title="Tres (3) o mas caracteres, comillas no permitidas"
          >Asunto</label
        >
        <input
          type="text"
          id="asunto"
          name="asunto"
          class="formInput"
          placeholder="Requerdio"
          pattern="[^\'&#34;]+"
          title="Tres (3) o mas caracteres, comillas no permitidas"
          #asunto="ngModel"
          minlength="3"
          [(ngModel)]="contacto.asunto"
          required
        />
      </div>
      <div class="registro__usuario">
        <label for="mensaje" title="Tres (3) o mas caracteres, comillas no permitidas"
          >Mensaje</label
        >
        <textarea
          id="mensaje"
          name="mensaje"
          class="formInput"
          placeholder="Requerdio"
          pattern="[^\'&#34;]+"
          title="Tres (3) o mas caracteres, comillas no permitidas"
          #mensaje="ngModel"
          minlength="3"
          rows="4"
          [(ngModel)]="contacto.mensaje"
          required
        ></textarea>
      </div>
      <div class="submitRegistro">
        <div *ngIf="isLoading" class="spinContainer">
          <div class="spinerLoader"></div>
        </div>
        <input type="hidden" name="recaptcha" id='recaptcha' [(ngModel)]="contacto.recaptcha"> 
        <input type="submit" #submitButton class="submitBtn submitHover" value="Eviar Mensaje" />
      </div>
    </form>
    <section class="cuerpo">
        <header class="titulo2"><h1>Angel Mora</h1></header>
        <p>
          ¿Que opinas de este proyecto? Me interesa lo que tu piensas.
        </p>
        <p>
          ¿Crees que hacen faltan mas ingredientes? Contactame, dime cuales crees que faltaron. 
        </p>
        <p>
          ¿Mas parametros de calidad? Enviame, quiero estar al dia con las necesidades de los usuarios.
        </p>
        <p>         
          Puedes llenar el formulario de contacto y 
          te respondere lo mas pronto posible.
        </p>
        <p>Tambien puedes escribirme en mis redes sociales</p>
        <p class="locacionLink flexFilas"><i class="fas fa-map-marker-alt locacion"></i>Venezuela, Edo Zulia</p>
        <p class="instaLink flexFilas"><a href="https://www.instagram.com/angmora13/" target="_blank"><i class="fab fa-instagram-square insta"></i></a><span class="instaTip">@angmora13</span></p>
      </section>
  </section>
</section>
