.primerContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white,rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7));
    width:100%;
    
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 2px gray;
}
.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    padding: 10px 0;
}
h1{
    text-align: center;
}
p{
    font-size: 1.2rem;
    text-align: justify;
    margin: 0 20px;
}
img{
    width: inherit;
    height: 150px;
}
.espaciador{
    border: 1px solid rgba(255, 166, 0, 0.7);
    margin: 10px 10px;
}
@media only screen and (max-width:760px){
    nav{
        width: 80vw;
    }
}
@media only screen and (max-width:481px){
    .contenido{
        flex-direction: column;
        align-items: center;
    }
    
}
