<article class="primerContenedor">
    <header>
        <h1>Bienvenido, Mira lo ultimo agregado:</h1>
    </header>
    <nav>
        <div class="contenido">
            <img 
            src="../../../assets/TutorialFA/tutorial_FA_2.png"
            alt="Formular Alimentos"
            title="Formular Alimentos"
            routerLink="/tutoriales/formularalimento">
            <p>Se creo la aplicacion Formular Alimentos: selecciona los ingredientes que usaras 
                y su proporcion para predecir el perfil nutritivo del alimento, antes de elaborarlo. Para 
            mayor informacion, da click en la imagen o ingresa al tutorial desde el menu de navegacion</p>
        </div>
        <div class="espaciador"></div>
        <div class="contenido">
            <img 
            src="../../../assets/TutorialFI/tutorial_FI_2.png"
            alt="Formular Ingredientes"
            title="Formular Ingredientes"
            routerLink="/tutoriales/formularingredientes">
            <p>Se creo la aplicacion Formular Ingredientes: selecciona los ingredientes que usaras 
                e ingresa el perfil nutritivo esperado del alimento para predecir la proporcion de los ingredientes que mejor 
                se ajusten a los requerimientos. Para mayor informacion, da click en la imagen o ingresa al tutorial 
                desde el menu de navegacion</p>
        </div>
    </nav>

</article>