.primerContenedor{
    background: rgba(49, 65, 138, 0.9);   
    border-radius: 0 10px 10px 0;
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.segundoConetendor{
    padding: 5px;
    margin: 20px 0 20px 0;
}
.navegacion{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.responsiveBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
a:hover{
    background: white;
    color: black;
}


.icon, .Desplegable{
    display: none;
}
@media only screen and (min-width:761px){
    .tutoriales__lista{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
        height: 0px;    
        top:50px;
        overflow: hidden;
        transition: 0.45s all ease-out;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px black;
    }
    
    .tutoriales:hover ~ .tutoriales__lista, .tutoriales__lista:hover{
        visibility: visible;
        height: 70px;
        width: auto;
        transition: all 0.3s ease-in;
        background: white
    
    }
    .tutoriales__lista a:hover{
        background: rgba(49, 65, 138, 0.9); 
        color: white;
    }
    .tutoriales__lista a{
        background: none;
        color: black;
    }
    .usuario{
        margin-right: 30px;
    }
    
    .usuario__lista{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
        height: 0px;    
        top:50px;
        overflow: hidden;
        transition: 0.45s all ease-out;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px black;
    }
    
    .usuario:hover ~ .usuario__lista, .usuario__lista:hover{
        visibility: visible;
        height: 70px;
        width: auto;
        transition: all 0.3s ease-in;
        background: white
    }
    .usuario:hover ~ .usuario__lista_login, .usuario__lista_login:hover{
        height: 50px;
    }
    .usuario__lista a:hover{
        background: rgba(49, 65, 138, 0.9); 
        color: white;
    }
    .usuario__lista a{
        background: none;
        color: black;
    }
}
@media only screen and (max-width:760px){
    .primerContenedor{
        height: auto;
        border-radius: 0;
        width: 100vw;
    }
    .icon{
        display: block;
        top:18px;
        right: 20px;
        width: auto;
        position: absolute;
        align-self: flex-end;
        text-align: end;
        font-size: 2rem;
        background: none;
        color: white;
    }  
    .menuDesplegable{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .inicio{
        margin-right: 10px;
    }
    .Desplegable{
        display: block;
        position: absolute;
        top:25px;
        left: 15px;
        text-align: start;
        align-self: flex-start;
    }
    .navegacion{
        flex-direction: column;
        justify-content: center;
    }
    .responsiveBar, .responsive{
        display: none;
        width: 100%;
    }    
    .responsiveBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        background:rgba(63, 65, 73, 0.7);
    }
    .responsive{
        width:auto;
    }
    .check:checked ~ .navegacion .icon{
        color:rgb(104, 238, 211);
        background: rgba(49, 65, 138, 0.9);
        box-shadow: 0 0 5px 2px rgba(68,187,164, 0.8);

    }
    .check:checked ~.navegacion > .responsiveBar > .responsive{
        display: block;
    }
    .check:checked ~.navegacion > .responsiveBar > div .responsive{
        display: block;
    }
    .check:checked ~ .navegacion > .responsiveBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tutoriales__lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
        height: 0;   
    }
    .tutorialCheck:checked + .tutoriales__lista{
        visibility: visible;
        height: 70px;
        width: 100%;
    }
    .usuario__lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
        height: 0px;   
    }
    .usuarioCheck:checked + .usuario__lista{
        visibility: visible;
        height: 70px;
        width: auto;
    }
}