<section class="contenedor-1">
    <header class="titulo"><h1>User Information</h1></header>  
    <section class="contenedor-2">
      <section class="cuerpo">
          <header class="titulo2"><h1>{{user.name}}</h1></header>
          <aside class="r_tabla">
            <table class="tablaResultado">
              <tr>
                <th>Data</th>
                <th>Value</th>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{user.type}} </td>
              </tr>
              <tr>
                <td>Name</td>
                <td> {{user.name}} </td>
              </tr>
              <tr>
                <td>{{ thereIsLastName? "Acronym" : "Last Name" }}</td>
                <td> {{user.lastName}} </td>
              </tr>
              <tr>
                <td>Email</td>
                <td> {{user.email}} </td>
              </tr>
              <tr>
                <td>Workplace</td>
                <td> {{user.workplace}} </td>
              </tr>
              <tr>
                <td>Ingredients</td>
                <td> {{user.countMateriasPrimas}} </td>
              </tr>
            </table>
          </aside>
        </section>
        <button class="btnBack" [routerLink]="['/']">Go Back</button>
    </section>
  </section>