<section class="contenedor-1">
    <header class="titulo"><h1>Contact Information</h1></header>  
    <section class="flexFilas contenedor-2">
      <section class="cuerpo">
          <header class="titulo2"><h1>Angel Mora</h1></header>
          <p>
            ¿What do you thing of this proyect? I am interested in what you think.
          </p>
          <p>
            ¿More quality parameters? Send me 
            <a href="https://www.instagram.com/angmora13/" target="_blank">[@angmora13]</a>. 
            I want to be up to date with your needs.
          </p>
          <div class="locate">
            <span class="point"></span>
          </div>
          <p class="locacionLink flexFilas">Zulia, Maracaibo, Venezuela</p>
          <p class="instaLink flexFilas"><a href="https://www.instagram.com/angmora13/" target="_blank">@angmora13</a></p>
          <a href="https://www.instagram.com/angmora13/" target="_blank"><div class="instaLogo">
            <span class="instaSpan"></span>
          </div></a>
        </section>
    </section>
    <button class="btnBack" [routerLink]="['/']">Go Back</button>
  </section>
  