<article class="primerContenedor">
  <div class="side">
      
      <form
      class="login"
      #formLogin="ngForm"
      (ngSubmit)="onLogin(formLogin)"
    >  
    <header><h1>Login</h1></header>
      <div class="registro__usuario">
        <label for="correo">Correo</label>
        <input
          type="email"
          id="correo"
          name="correo"
          class="formInput"
          placeholder="Correo"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          title="example@mail.com"
          #email="ngModel"
          [email]="true"
          [(ngModel)]="correo"
          required
        />
      </div>
      <div class="registro__usuario">
        <label for="password" title="Ocho (8) o mas combinacion de caracteres"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="formInput"
          placeholder="Contraseña"
          title="Ocho (8) o mas combinacion de caracteres"
          #contraseña="ngModel"
          minlength="8"
          pattern="[^\'&#34;]+"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="submitRegistro">
        <button type="submit" class="submitBtn">Login</button>        
        <a routerLink="/inicio"><button type="button" class="resetBtn">Regresar</button></a>
      </div>      
      </form>
      <div class="imagenTop">
        <img src="../../../assets/FormABA.jpg" alt="FormABA" title="FormABA" />
      </div>
  </div>
</article>
