<section class="primerContenedor">
    <article class="segundoContenedor">
      <header class="titulo"><h1>Pasos para Formular un Alimento en la aplicacion</h1></header>
      <nav>
        <button (click)="onAnterior()">Anterior</button><span class="paginas">{{ pagina }} de 5</span>
        <button (click)="onSiguiente()">Siguiente</button>
      </nav>
      <section ngSwitch="{{ pagina }}" class="tercerContenedor">
        <img
            src="{{ imgURL }}"
            class="imagen{{ pagina }}"
            alt="Paso {{pagina}}"
            title="Paso {{pagina}}"
          />
        <div *ngSwitchCase="1">        
          <p>
            Para formular un alimento se requiere conocer que ingredientes se
            usaran para elaborarlo y en que proporcion.<br />
            <br />
            Una vez se tenga lo anterior mensionado se procede a ubicar la
            aplicacion del lado izquierdo de la pantalla.
          </p>
        </div>
  
        <div *ngSwitchCase="2">
          <p>Seguido seleccionamos en "Formular Alimento".</p>
        </div>
  
        <div *ngSwitchCase="3">
          <p>
            Ubicados en la pestaña formular, seleccionamos los ingredientes que se
            usaran en la elaboracion del alimento, para ello, se pueden buscar manualmente mediante la lista de los mismos 
            o pueden ser buscados usando el Filtro.
            <br /><br />
            Para usar el Filtro, se selecciona la opci&oacute;n de busqueda que puede ser el Nombre o alguna propiedad listada. 
            Si, se busca por nombre, simplemente se coloca el nombre y se pulsa "Enter" y el filtro buscara todos aquellos ingredientes 
            que contenga el valor introducido. En caso de ser por alguna propiedad, el filtro buscara aquellos ingredientes 
            donde el valor introducido sea mayor o igual al del ingrediente.
            <br /><br />
            Notese que el ingrediente introducido puede ser eliminado de la seleccion y, adicionalmente, 
            puede visualizar sus propiedades al pasar el mouse o pulsar sobre ellos.
            <br /><br />
            Luego de la seleccion, se da click en Siguiente.
            <br /><br />
            Para borrar la lista introducida, se pulsa el boton restaurar.
          </p>
          <p>
            Nota: en la lista de ingredientes no se especifican ciertos microingredientes como medicinas, vitaminas y minerales. 
            Sin embargo, por su efecto en la formulacion del alimento, estos se agregan de la lista mediante sus nombres:
            minerales 99Cz, minerales 97Cz, minerales 95Cz, minerales 92Cz minerales 90Cz, minerales 85Cz, minerales 80Cz, 
            minerales 70Cz y vitaminas, donde, el valor numerico de los minerales, representa su porcentaje de cenizas del mismo. 
            La seleccion de estos microingredientes no se recomienda para Formular Ingredientes.
          </p>
        </div>
  
        <div *ngSwitchCase="4">
          <p>
            En esta pestaña ("formular/alimento"), se ingresa la cantidad masica
            de los ingredeintes.<br /><br />
            Para evitar inconvenientes en el resultado, la unidad de masa (gramos,
            kilogramos, toneladas, etc) debe ser igual en cada uno de los
            ingredientes.<br /><br />
            No esta permitido ingresar valores en negativo, de hacerlo, se
            notificara el error.<br /><br />
            Aquellos valores que no se ingresen, seran tomados iguales a cero.
          </p>
          <ul>
            <li>El boton restablecer, borra los valores ingresados.</li>
            <li>
              El boton Retroceder, regresa la pagina a la seleccion de los
              ingredientes.
            </li>
            <li>
              El boton Predecir, inicia el calculo del perfil nutritivo del alimento.
            </li>
          </ul>
        </div>
  
        <div *ngSwitchCase="5">
          <p>
            Presionando el boton "Listo" se realiza el calculo del alimento y se
            visualiza el resultado obtenido
          </p>
        </div>
      </section>
    </article>
  </section>
  