.titulo{
    justify-self: center;
    text-align: center;

}
h1{
    font-size: 2rem;
}
.primerContenedor{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.segundoContenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.materiasPrimas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-right: 40px;
    margin-left: 40px;
}
.mp__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tooltip{
    text-align: center;
    position: relative;
    flex-grow: 1;
    cursor: pointer;
}
.tooltip_item{
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 200px;
    margin-left: -80px;
    text-align: center;
    background: rgba(68,187,164, 0.9);
    color: white;
    border-radius: 5px;
    padding: 8px 4px;
    font-size: 0.9rem;
}
.tooltip:hover .tooltip_item{
    visibility: visible;
}
.tooltip_item::after{
    content: "";
    position: absolute;
    top:100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(68,187,164, 0.9) transparent transparent transparent;
}
.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:10px 0 10px 0;
}

.espaciador{
    border: 10px solid rgba(49, 65, 138, 0.9);
}

.resultados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}
.resultados aside{
    align-self: center;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
    
}
.tablaResultado tr th, .tablaResultado tr td{
    padding: 10px;
    text-align: center;
}
td~td{
    color:white;
}
tr:nth-child(2n-1){
    /*background: rgba(182, 180, 180, 0.9);*/
    background: rgba(68,187,164, 0.8);
    
}
th:first-child{
    border-radius: 5px 0px 0 0;
}
th:last-child{
    border-radius: 0 5px 0 0;
}

tr:nth-child(2n){
    /*background: rgba(218, 215, 215, 0.8);*/
    background: rgba(63, 93, 224, 0.9);
    
}
th{
    color:white;
    background: rgba(63, 65, 73, 0.925);
}
.btnNext{
    color: white;
    background: rgba(41, 131, 41, 0.9);
    width: 130px;
}
.btnRegresar{
    background: rgb(241, 36, 36);
    color: white;
}
@media only screen and (max-width:1024px){
    .segundoContenedor{
        flex-direction: column;
    }
    .espaciador{
        visibility: hidden;
    }
    h1{
        font-size: 3.5vw;
    }      
    .mp__contenedor{
        justify-content: center;
    }
}
@media only screen and (max-width:760px){
    th{
        font-size: 3.5vw;
    }
}
@media only screen and (max-width:480px) and (min-width:320px){
    .materiasPrimas{
        margin:0;
    }
}