<article class="primerContenedor">
  <header class="titulo">
    <h1>Formular Ingredientes</h1>
  </header>
  <!--Seleccion y cantidades de materias primas-->
  <div class="segundoContenedor">
    <aside class="materiasPrimas">
      <header class="titulo"><h1>Ingredientes</h1></header>
      <div class="mp__contenedor">
        <aside>
          <table class="tablaResultado">
            <tr>
              <th>Materia Prima</th>
              <th>Valor</th>
            </tr>
            <tr *ngFor="let mpSeleccion of seleccionMP">
              <td>
                <label class="tooltip"
                  >{{ mpSeleccion.Nombre }}
                  <span class="tooltip_item">
                    H: {{ mpSeleccion.Humedad }}, PB:
                    {{ mpSeleccion.Proteina }}, EE: {{ mpSeleccion.Grasa }}, FB:
                    {{ mpSeleccion.Fibra }}, Cz:
                    {{ mpSeleccion.Cenizas }}
                  </span></label
                >
              </td>
              <td>{{ mpSeleccion.Masa.toFixed(4) }}</td>
            </tr>
          </table>
        </aside>
      </div>
      <nav class="navegacion">
        <button class="btnRegresar" routerLink="/ingredientes">Regresar</button>
      </nav>
    </aside>
    <div class="espaciador"></div>
    <!--perfil nutritivo-->
    <article class="resultados">
      <header class="titulo">
        <h1>Resultados del perfil nutritivo</h1>
      </header>
      <aside>
        <table class="tablaResultado">
          <tr>
            <th>Propiedad Fisicoquimica</th>
            <th>Valor</th>
            <th>Valor Esperado</th>
          </tr>
          <tr>
            <td>Masa (u)</td>
            <td>{{ perfilNutritivo.Masa.toFixed(4) }}</td>
            <td>{{ perfilNutritivoEsperado.Masa.toFixed(4) }}</td>
          </tr>
          <tr>
            <td>Humedad (%)</td>
            <td>{{ perfilNutritivo.Humedad.toFixed(4) }}</td>
            <td>{{ perfilNutritivoEsperado.Humedad.toFixed(4) }}</td>
          </tr>
          <tr>
            <td>Proteina Bruta (%)</td>
            <td>{{ perfilNutritivo.Proteina.toFixed(4) }}</td>
            <td>{{ perfilNutritivoEsperado.Proteina.toFixed(4) }}</td>
          </tr>
          <tr>
            <td>Extracto Et&eacute;reo (%)</td>
            <td>{{ perfilNutritivo.Grasa.toFixed(4) }}</td>
            <td>{{ perfilNutritivoEsperado.Grasa.toFixed(4) }}</td>
          </tr>
          <tr>
            <td>Fibra Bruta (%)</td>
            <td>{{ perfilNutritivo.Fibra.toFixed(4) }}</td>
            <td>{{ perfilNutritivoEsperado.Fibra.toFixed(4) }}</td>
          </tr>
          <tr>
            <td>Cenizas (%)</td>
            <td>{{ perfilNutritivo.Cenizas.toFixed(4) }}</td>
            <td>{{ perfilNutritivoEsperado.Cenizas.toFixed(4) }}</td>
          </tr>
        </table>
      </aside>
      <nav class="navegacion">
        <button class="btnNext" routerLink="/alimento/formular">
          Formular Alimento
        </button>
      </nav>
    </article>
  </div>
</article>
