html{
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    background:linear-gradient(70deg,rgba(55, 92, 226, 0.8),rgba(45, 231, 154, 0.575), rgba(58, 233, 160, 0.575));
}
button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.grecaptcha-badge{
    visibility: hidden;
}

.showCaptcha .grecaptcha-badge{
    visibility: visible;
}
