.primerContenedor{
    background: linear-gradient(white,rgba(255, 255, 255, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 100%;
}
.titulo{
    justify-self: center;
    text-align: center;
    margin: 20px;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.3rem;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
nav img {
    width: 140px;
    height: 160px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: gainsboro;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}
p, li{
    font-size: 1.3rem;
    text-align: justify;
    margin: 0 30px 30px 30px;
}
a{
    color: black;
}
@media only screen and (min-width:760px){
    aside{
        margin: 0 40px;
        width: auto;
    }
}
@media only screen and (max-width:760px){
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 3.7vw;
    }
    p,li{
        font-size: 3.5vw;
    }
}