<section class="primerContenedor">
    <header class="titulo"><h1>Formulador de Aliemntos Balanceados</h1></header>
    <section class="cuerpo">
      <nav>
        <img
          src="../../../assets/angel.png"
          alt="Desarrollador del Proyecto: Angel Mora"
          title="Angel Mora"
        />
      </nav>
      <div class="titulo">
      <header><h1>Desarrollador: Angel Mora</h1></header>
      <header><h2>Menci&oacute;n especial: Ing. Qu&iacute;mico, Jhazmiriam &Aacute;lvarez.</h2></header>
      <header><h2>Menci&oacute;n especial: Lic. Qu&iacute;mica y Profesora de La Universidad del Zulia, Johanna Raga.</h2></header>
    </div>
      <aside>
        <p>
          Este es un proyecto diseñado principalmente para que las industrias de alimentos 
          balanceados puedan evaluar la calidad de su producto antes de elaborarlo. Los parametros de 
          calidad, hasta los momentos, son el porcentaje (%) de Humedad, Proteina bruta, Extracto et&eacute;reo, Fibra bruta y 
          Cenizas.
        </p>
        <p>
          El proyecto consta, por los momentos, de dos aplicaciones: Formular Alimento y Formular Ingredientes.          
        </p>
        <ul>
          <li>Formular Alimento, predice el perfil nutricional del alimento mediante la selecci&oacute;n de los ingredientes 
            y su cantidad masica en la mezcla.
          </li>
          <li>
            Formular Ingredientes, mediante la selecci&oacute;n de los ingredientes y el perfil nutricional esperado del alimento, 
            predice la cantidad masica de estos ingredientes dentro de la mezcla.
          </li>
        </ul>
        <p>
          La aplicacion facilita los calculos necesarios para conocer esta informacion de una 
          manera rapida y segura. Sin embargo, los resultados pueden variar ligeramente a los resultados obtenidos 
          cuando se elabora el alimento, dado  que, no se toma en cuenta la variabilidad de eventos que pueden 
          ocurrir en su manufactura.
        </p>
        <p>
          Para mayor informacion de estas aplicaciones se recomienda ir a la seccion de tutoriales.
        </p>
        <p>El proyecto se elaboro usando el framework Angular para el frontend.
        Para el backend se uso Python con Django y Firebase.</p>
        <p>Adicionalmente, la base de datos de los ingredientes fue tomada 
          de la <a href="http://www.fundacionfedna.org/" target="_blank">
            Fundacion Española para el Desarrollo de la Nutricion Animal, FEDNA.</a> 
            Nota: No todos los ingredientes fueron tomados.
        </p>
      </aside>
    </section>
</section>
